@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {

    margin: 0px;
    padding: 0px;

}

* {
    font-family: "Poppins";
}


.backgroundDiv {
    background-image: url("resources/motherboard-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginDiv {
    background-color: rgba(255, 255, 255, 0.724);
    height: auto;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    padding-top: 30px
}

.iconImg {
    height: 250px;
    width: 250px;
  

}

.title {
    font-family: "Edu AU VIC WA NT Pre", cursive;
}

.inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.inputLabel {}

.inputField {
    background-color: transparent;
    outline: none;
    border: none;
    /* border-width: 1px; */
    background-color: rgba(255, 255, 255, 0.715);
    height: 26px;
    /* border-radius: 8px; */
    padding-left: 10px;
}

.button {
    background-color:#DE6007;
    color: white;
    border: none;
    outline: none;
    height: 30px;
    font-size: 18px;
    /* border-radius: 10px; */
    align-self: center;
    width: 100%;
    box-shadow: 0px 2px 5px black;
    transition-duration: 0.7s;
}

.button:hover {
    cursor: pointer;
    width: 90%;
    transition-duration: 0.7s;
    font-size: 14px;
    box-shadow: 0px 2px 10px black;
}

.loginLink {
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    color: #DE6007;
    margin-top: 10px;
    transition-duration: 0.7s;
}

.loginLink:hover {
    cursor: pointer;
    font-weight: bold;
    /* font-size: 16px; */
    transition-duration: 0.7s;
}

.homeMain {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
}

.navBar {
    width: calc(100% - 10px);
    height: 50px;
    ;
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    box-shadow: 1px 1px 5px black;

}

.iconImgSm {
    height: 50px;
}

.navCont1 {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.navCont2 {

    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.welcome{
    padding-left: 10px;
}

.navTab{
    margin: 0px 10px;
}

.iconSm{
    width: 40px;
    height: 40px;
}
.content{
    display: flex;
    flex-direction: row;

}
.productImgDiv{
    width: 50%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDescDiv{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.productImg{
    width: 50%;
    border-style: solid;
    border-width: 1px;
    /* box-shadow: 1px 1px 5px black; */
}